header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;

}

header h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-shadow: 5px 6px 4px rgb(0 0 0 / 30%);
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header li {
    font-size: 20px;
    font-weight: 500;
    text-shadow: 5px 6px 4px rgb(0 0 0 / 30%);
    padding: 10px;
    cursor: pointer;
}

li:hover {
    color: rgb(0, 0, 0, 0.6);
}

button {
    display: none;
}


@media (max-width: 768px) {
    button {
        display: block;
        font-size: 25px;
        outline: none;
        border: none;
        background-color: #e5e5e5;
        position: absolute;
        top: 31px;
        transition: transform 0.2 linear;
        cursor: pointer;
    }

    .ativo button {
        font-size: 28px;
        color: white;
        background-color: #000;
    }

    .ativo button svg {
        transform: rotate(45deg);
    }

    ul {
        display: none;
    }

    ul li {
        display: none;
    }

    .ativo ul {
        display: block;
        position: absolute;
        right: 44px;
        top: 69px;
        color: white;
        transition: 0.9s cubic-bezier(0, 1.33, 1, 1);
    }

    .ativo li:hover{
        color: #e5e5e583;
    }

    .ativo ul::after {
        content: '';
        display: block;
        position: absolute;
        top: -70px;
        right: -44px;
        width: 239px;
        height: 252px;
        z-index: -5;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 200%;
        animation: leftRight 0.5s cubic-bezier(0.01, 1.07, 1, 1);
        background-color: #000;
    }

    .ativo li {
        display: block;
    }

}

@media (max-width: 550px) {
    header {
        padding: 6px;
    }

    button {
        right: 20px;
        top: 20px;
    }

    .ativo ul {
        right: 16px;
        top: 64px;
    }

    .ativo ul::after{
        right: -15.5px;
        width: 160px;
        height: 220px;
    }

    header ul li {
        font-size: 15px;
    }
}

@keyframes leftRight {
    0% {
        transform: translateY(-60%);
    }

    100% {
        transform: translateY(0%);
    }

}