section {
    padding: 0px 120px;
    margin-bottom: 70px;
}

#line-sobre {
    text-shadow: 5px 6px 4px rgb(0 0 0 / 30%);
    text-align: start;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

#line-sobre::after {
    content: '';
    display: block;
    width: 70px;
    background-color: black;
    height: 5px;
    box-shadow: 5px 6px 4px rgb(0 0 0 / 30%);
}

.sobre {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 20px;
}

.text {
    margin-top: 20px;
    overflow-wrap: anywhere;
    margin-left: 36px;
    text-shadow: 5px 6px 4px rgb(0 0 0 / 30%);
}

.text h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.text h3 a {
    padding-right: 10px;
}

.text h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    margin: 12px 0;
}

.text p {
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    text-align: start;
}

.sobre img {
    filter: grayscale(16%);
    width: 280px;
    border-radius: 50%;
}

@media (max-width: 788px) {
    section {
        padding: 0;
    }

    section h2 {
        padding-left: 10px;
    }

    .sobre {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text h2 {
        padding: 0;
        padding-top: 10px;
    }

    .text {
        padding: 10px 5px;
        margin: 0;
        overflow-wrap: anywhere;
    }

}

@media (max-width: 450px) {
    .sobre img {
        width: 200px;
    }

    .text h2 {
        font-size: 20px;
        font-weight: 500;
    }

    .text p {
        font-size: 12px;
        font-weight: 300;
        
    }

    .text h3 {
        text-align: center;
    }
}

@media (max-width: 350px) {
    .sobre img {
        width: 150px;
    }

    .text h3 {
        font-size: 12px;
    }

    #line-sobre {
        font-size: 20px;
    }

    #line-sobre::after {
        width: 52px;
        height: 3px;
        position: absolute;
        bottom: 68px;
    }
}