*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

html{
  scroll-behavior: smooth;
}

body{
  border-top: 4px solid #000;
  background-color: #e5e5e5;
}

a{
  color: black;
  text-decoration: none;
}

*::-webkit-scrollbar {
  background-color: rgb(0, 0, 0, 0.1);
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #131313;
}
